<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="BasicHttpBinding_IFlightService" />
              <binding name="BasicHttpBinding_IReservationService" />
              <binding name="BasicHttpBinding_ITicketService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/Services/FlightService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFlightService"
                contract="FlightService.IFlightService" name="BasicHttpBinding_IFlightService" />
            <endpoint address="http://localhost:8080/Services/ReservationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReservationService"
                contract="ReservationService.IReservationService" name="BasicHttpBinding_IReservationService" />
          <endpoint address="http://localhost:8080/Services/TicketService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITicketService"
              contract="TicketService.ITicketService" name="BasicHttpBinding_ITicketService" />
        </client>
    </system.serviceModel>
</configuration>